header {
   background-color: #fffcf0;
   border-radius: 20px;
   height: 20%;
   padding: 5%;
}

body {
    background-color: #f7eec5;
    color: #333;
    margin-top: 40px;
    padding: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

header h1 {
   font: small-caps bold 250%/1 sans-serif;
   text-align: center;
   color: #333;
}

header p {
   font: small-caps bold 150%/1 sans-serif;
   color: #333;
}
h2 {
   font: small-caps bold 24px/1 sans-serif;
   color: #333;
}

h3 {
   font: small-caps bold 18px/1 sans-serif;
   color: #333;
}

hr {
   border: none;
   height: 1px;
   background-color: #aa9d9d;
}

a:not(.except) {
    display: inline-block;
   margin: 10px auto;
   padding: 10px 20px;
   background-color: #e8def7;
   color: #333;
   width: 140px;
   text-decoration: none;
   border-radius: 80px;
   transition: background-color 0.3s ease;
   position: relative;
   overflow: hidden;
   text-align: center;
}

a:hover {
    background-color: #d8a8e1;
   color: #fff;
}

a:hover:before {
    width: 0;
    height: 0;
}

nav {
   background-color: #fef4d7;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
   padding: 2%;
   margin: 2%;
}

nav svg {
   max-width: 600px;
   height: 400px;
   width: 100%;
   margin: 0 auto;

}

nav a:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transition: all 0.6s ease;
    z-index: 0;
    transform: translate(-50%, -50%);
}

p{
   padding:5%;
}

footer span {
	padding:1%;
}

footer img {
 	width: 40px; 
 	vertical-align: middle;
}

.container a {
   display: flex;
   justify-content: center;
   align-items: center;
}

.icon_1 {
   width: 100px;
}
.icon_2 {
   width: 50px;
   float: left;
}

.introduction {
   padding: 5%;
}

.navigation {
   position: fixed;
   height: 60px;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   background-color: #f7eec5;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   text-align: right;
}

.navigation a {
   background-color: #f7eec5;
   font: small-caps bold 24px/1 sans-serif;
   color: #776c3c;
   font-family: small-caps;
   align-items: center;
   font-size: 16px;
   border-radius: 0px;
   margin: 0;
   width: 110px;
   padding-left: 0px;
   padding-right: 0px;
   padding-top: 20px;
   height: 30px;
}

.navigation a:hover {
   background-color: #f3e296;
   color: #000;
}

@media screen and (max-width: 600px) {
    main {
        padding: 10px;
    }
    
    .navigation a {
    	width: 50px;
    	font-size: 12px;
    }
}

footer {
   padding: 5%;
   font-family: Arial;
   font-weight: bold;
}
